rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // 全員が読み取り・書き込み・削除可能
    match /{document=**} {
      allow read, write, delete: if true;
    }
  }
}
